{{- $s := .Site.Params }}
{{ $t := .Site.Title }}
{{- if or .Params.enableMathNotation $s.enableMathNotation }}
  {{ partialCached "math" . }}
{{- end }}
{{- $iconsDir := default "icons/" .Site.Params.iconsDir }}
{{- $defaultFooterLogo := printf "%s%s" $iconsDir "apple-touch-icon.png"}}
<footer class="footer">
  <div class="footer_inner">
    &nbsp;copyright <span class="green">AI</span>R<span class="green small">.mn</span> <span class="year"></span>&nbsp;&nbsp;&nbsp;
    <a class="social-links" href="https://github.com/berjanb"><span class="social-icons github"></span></a>
    <a class="social-links" href="https://linkedin.com/in/berjanb/"><span class="social-icons linkedin"></span></a>
    {{- partialCached "top" .}} 
  </div>
</footer>
